.root {
  padding: 62px 110px 80px;
}

//temp stepper
.stepper {
  max-width: 680px;
  height: 48px;
  background-color: aquamarine;
  margin-bottom: 67px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
