.root {
  max-width: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.textarea {
  min-height: 84px;
  height: 100%;
  max-width: 680px;
  width: 680px;
  padding: 12px;

  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.label {
  margin-bottom: 8px;
}

.feedback {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedbackTextarea {
  display: flex;
  flex-direction: column-reverse;
}

.error {
  margin-top: 5px;
  font-size: 12px;
  color: red;
  opacity: 0.8;
}

.counter {
  margin: 8px 0;
  font-size: 12px;
  opacity: 0.6;
}
